
/* var */
:root {
  --text-color: #292929  ;
  --header-color: #ffffff;
  --primary-accent-color: #0069D9 ;
  --secondary-accent-color: #498CF4;
  --primary-background-color: #ffffff;
  --secondary-background-color: #DCEBF7;
}

/* reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--primary-background-color);
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
address { 
  font-style: normal;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.is-hidden { 
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.titleh2 { 
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

 
/* header */

.header { 
  background-color: var(--primary-background-color);
  padding: 20px 0;
  z-index: 100;
  box-shadow: 5px 5px 10px rgba(122, 122, 122, 0.3);
}

.header__container { 
  display: flex;
  justify-content: space-between;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.btn__icon {
  transition: transform 0.3s ease;
}

.btn:hover .btn__icon {
  transform: scale(1.2); 
}

.logo { 
    display: none;
}
.logo:hover { 
  color: var(--header-color);
  text-decoration: none;
}



/* hero */
.hero {
  padding: 70px 0px 70px;
  background-color: var(--primary-accent-color);
  color: var(--header-color);
  position: relative;
}

.hero-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 700;
}
.hero-subtitle { 
  margin-bottom: 20px;
  font-weight: 400;
  text-transform: none;
}
.hero-cta {
  background-color: var(--primary-background-color);
  padding: 20px;
  border-radius: 7px;
  color: var(--secondary-accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  flex-direction: row-reverse;
  text-align: left;
  max-width: 350px;
  font-weight: 700;
}

.hero-cta:hover {
  background-color: var(--secondary-background-color);
  color: var(--primary-accent-color);
}

.hero-cta:hover {
  background-color: var(--secondary-background-color);
  color: var(--secondary-accent-color);
}
.hero-img {
  position: relative;
  width: 70%;
}


.hero-img--wrap-big, 
.hero-img--wrap-small {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(122, 122, 122, 0.3);
  opacity: 0; 
  transform: translateX(-20px); 
  transition: opacity 0.6s ease, transform 0.6s ease;
}



.hero-img--wrap-small {
  width: 40%;
  position: absolute;
  bottom: -20px;
  left: -10px;
}


.hero-img--wrap-big.show {
  opacity: 1;
  transform: translateX(0);
}

.hero-img--wrap-small.show {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.6s; 
}


.hero-img {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.hero-img.show {
  opacity: 1;
  transform: scale(1);
}
  .video-play-button {
    position: absolute;
    left: 45%;
    top: 50%; 
    transform: translate(-50%, -50%); 
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }
  
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: var(--primary-accent-color);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }
  
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #ffffff;
    border-radius: 50%;
    transition: all 200ms;
  }
  
  .video-play-button:hover:after {
    background-color: var(--secondary-accent-color);
  }
  .video-play-button:before {
    content: "";
    color: rgb(21, 45, 116);
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #4c7cff;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }
  
  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .video-play-button:hover span {
    border-left: 32px solid var(--header-color);
  }
  
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    transition: all 200ms;
    border-left: 32px solid var(--primary-accent-color);
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
  }
  
  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
  
  
  
  .video-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.80);
    opacity: 0;
    transition: all ease 500ms;
  }
  
  .video-overlay.open {
    position: fixed;
    z-index: 1000;
    opacity: 1;
  }
  
  .video-overlay-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-accent-color);
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
  }
  
  .video-overlay-close:hover {
    color: var(--primary-accent-color);
    transform: scale(1.5);
  }
  
  .video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
  }
  
  
  .video-play-button {
      -webkit-animation: scale-up-center 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
              animation: scale-up-center 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


  /* .feature */

  .feature {
    padding: 100px 0px;
    overflow: hidden;
  }

  .feature-title {
    margin-bottom: 20px;
  }
  .feature-text { 
    margin-bottom: 40px;
  }
  .feature-text span{ 
    color: var(--primary-accent-color);
    font-weight: 700;
  }
  .feature-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .feature-item {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease-out;
  }


.feature-item.appear-left {
  transform: translateX(-100%);
}

.feature-item.visible {
  opacity: 1;
  transform: translateX(0);
}
  



  .feature-number {
    font-size: 80px;
    font-weight: 700;
    color: var(--primary-accent-color);
  }
  .feature-title-span {
    color: var(--primary-accent-color);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--secondary-background-color);
    margin-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
  }

  .feature-img {
    padding: 50px 20px 20px;
    background: var(--secondary-background-color);
    height: 100%;
    border-radius: 5px;
  }
  .feature-img:hover img { 
    transform: scale(1.1);
  }
  .title-small { 
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
  }

  .feature-img {
    position: relative;
    overflow: hidden;
}

.feature-img img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    z-index: 1;
    position: relative;
}

.zoom-lens {
    position: absolute;
    width: 50px; 
    height: 50px; 
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    visibility: hidden;
    z-index: 100;
    border-radius: 50%;
}

.feature-img:hover .zoom-lens {
    visibility: visible;
}

.feature-img::after { 
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./img/shape.svg);
  background-repeat: no-repeat;
  top: -20%;
  left: -10%;
  z-index: 0;
}

.feature-item:nth-of-type(2) .feature-img::after {
  top: -15%;
  left: 80%;
}

.feature-item:nth-of-type(3) .feature-img::after {
  top: 80%;
  left: 70%;
}


/* .testimonials */

  .testimonials {
    padding: 100px 0;
    background-color: var(--secondary-background-color);
}

.testimonials__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

div.swiper {
    padding: 0 40px 50px;
    width: 90%;
}

.swiper__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  min-height: 500px;
  border-radius: 5px;
    padding: 35px;
    background-color: var(--primary-background-color);
}

.swiper__img {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
    overflow: hidden;
}

.swiper__subtitle,
.swiper__text,
.swiper__name {
    text-align: center;
    color: var(--text-color);
}

.swiper__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.01em;
}

.swiper__text {
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0.01em;
}

.swiper__name {
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.01em;
}

div.swiper-button-prev::after,
div.swiper-button-next::after {
    font-size: 20px;
}

div.swiper-button-prev,
div.swiper-button-next {
    color: var(--secondary-accent-color);
}

.swiper-pagination {
    bottom: 0;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 1.5;
    background-color: var(--secondary-accent-color);
}


.faq { 
  padding: 100px 0;
}

.faq h2 { 
  font-weight: 700;
  margin-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}


.accordion .accordion__title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--secondary-background-color);
  padding: 20px 20px;
  color: var(--primary-accent-color);
  margin-top: 20px;
  transition: all 0.25s ease;
  cursor: pointer;
  border-radius: 5px;
  margin-right: auto;
}

label { 
  margin-bottom: 0!important;
}

.accordion .accordion__title input {
  appearance: none;
}

.accordion .accordion__title:after {
  transition: all 0.5s ease;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  float: right;
  margin-left: auto;
}

.accordion .accordion__title:has(input:checked):after {
  content: "\f078";
  
}

.accordion .accordion__text {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s ease-in-out, opacity 0.25s ease-in-out;
}

.accordion .accordion__title:has(input:checked) + .accordion__text {
  max-height: 500px;
}
.accordion .accordion__text p {
  font-weight: 100;
  line-height: 1.5rem;
  padding: 20px 20px;
  color: var(--text-color);
  border-top: 0;
  border-bottom: 1px solid var(--primary-accent-color);
  border-radius: 5px;
}

.accordion .accordion__title:has(input:checked) {
  color: var(--secondary-accent-color);
  background-color: var(--header-color);
  border-bottom: 0;
  border-top: 1px solid var(--primary-accent-color);
}

.accordion .accordion__title:has(input:checked) + .accordion__text {
  max-height: 500px;
}

.faq {
  margin-top: 40px;
  margin-bottom: 40px;
}

.faq h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;

}

.faq .card {
  margin-bottom: 10px;
}

.faq .card-header {
  background-color: #f8f9fa;
  padding: 10px 20px;
}

.faq .card-header h3 {
  margin: 0;
}

.faq .btn-link {
  color: #333;
  text-decoration: none;
}

.faq .btn-link:hover {
  text-decoration: none;
}

.faq .card-body {
  padding: 15px 20px;
}

.btn.btn-link { 
  width: 100%;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0.07em;
}

.btn:hover, .btn:focus { 
  box-shadow: none;
  outline: 0;
}

.card {
  border: none;
  border-bottom: 0;
  border-top: 1px solid var(--primary-accent-color);
}
.card-body { 
  outline: none;
  border-top: 0;
  border-bottom: 1px solid var(--primary-accent-color);
  border-radius: 5px;
}


.fa-angle-right{ 
  font-size: 20px;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}



.btn.btn-link { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-accent-color);
  font-weight: 700;
  text-transform: uppercase;
}

.accordion>.card{ 
  border-radius: 5px!important;
}
section.faq .card { 
  border-top: none;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section.faq .card-header { 
  background-color: var(--secondary-background-color);
  border-radius: 5px!important;
  border: none;
}




/* contact */
.contact-form { 
  background-color: #f8f9fa;
  padding: 100px 0;
  position: relative;
  z-index: 0;
}

.contact-form form { 
  width: 70%;
}

.contact-form h2 { 
  margin-bottom: 20px;
}

.contact-form__container { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}

.contacts__address-link { 
  margin-bottom: 10px;
  display: inline-block;
}
.social-icons { 
  display: flex;
  gap: 5px;
}

.social-icons li { 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-accent-color);
  border-radius: 2px;
  color: var(--header-color);
}

.social-icons li:hover { 
  background-color: var(--secondary-accent-color);
  transition: all 250ms ease-in-out;
}
.social { 

}

.title-content p { 
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}
.social-icons a { 

  color: var(--header-color);
}

.contacts__address a
{ 
  color: var(--text-color);

}
footer { 
  padding: 50px 0;
  background-color: #eeeeee;
  color: var(--text-color);
  text-align: center;
}

@media screen and (min-width: 480px) {

}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }


  .logo { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    padding: 10px;
    color: var(--primary-accent-color);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: color 250ms ease-in-out;
    font-size: 26px;
  }

  .logo:hover { 
    color: var(--secondary-accent-color);
  }

  .hero-container {
    display: flex;
    gap: 150px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }


  .hero-img--wrap-big { 
    width: 90%;
    margin-left: auto;
  }

  .video-play-button {
   left: 45%;
   top: 40%;
  }

  .hero {
    padding: 90px 0px 120px; 
  }

  .feature-title {
    max-width: 50%;
  }
  .feature-text { 
    max-width: 65%;
  }

  .feature-content {
    width: 50%;
  }

  .feature-item {
    flex-direction: row;
  }

  .feature-img { 
    width: 50%;
  }
  .feature-item:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  } 

  .testimonials__container {
    gap: 70px;
    flex-direction: row;
  }
  .accordion .accordion__title {
    font-size: 18px;
  }
  div.swiper {
    padding: 0 39px;
    width: 100%;
}
.contact-form__container { 
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
}
@media screen and (min-width: 1200px) {
  .header { 
    padding: 44px 0;
  }

  .titleh2 { 
    font-size: 32px;
    line-height: 36px;
  } 
  .hero-title {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .hero-img--wrap-small {
    left: -70px;
  }

  .hero-content {
    width: 50%;
    gap: 100px;
  }
  div.swiper {
    padding: 0 39px 50px;
    width: 100%;
}

} 

